<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{layout :: template (~{:: .uk-section})}">
<head>

</head>
<body>


<div class="uk-section">



    <form class="card bg-dark py-5 px-4" action="/category1" method="POST">

        <button type="submit" class="StartButton"><i class="fa-solid fa-circle-play"></i> Kategoria 1</button>
    </form>
    <form class="card bg-dark py-5 px-4" action="/category2" method="POST">

        <button type="submit" class="StartButton"><i class="fa-solid fa-circle-play"></i> Kategoria 2</button>
    </form>
    <form class="card bg-dark py-5 px-4" action="/category3" method="POST">

        <button type="submit" class="StartButton"><i class="fa-solid fa-circle-play"></i> Kategoria 3</button>
    </form>



</div>





</body>
</html>