<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{layout :: template (~{:: .uk-section})}">
<head>
</head>
<body>
<div class="uk-section">
    <div class="uk-container uk-container-small">
        <h1 class="uk-heading"><center>Witaj w moim Quizie</center></h1>
                <form action="submit" method="POST" th:object=${questionForm}>
                    <table class="uk-table uk-table-striped">
                        <tbody>
                            <tr th:each="question, i: ${questionForm.questions}">
                                <td class="uk-flex uk-flex-column">
                                <div th:text="${question.questionText}"></div>
                                <div class="uk-flex uk-flex-row">
                                    <input type="radio" th:name="|questions[${i.index}].chose|" th:value="1" />
                                    <p th:text="${question.optionA}"></p>
                                </div>
                                <div class="uk-flex uk-flex-row">
                                    <input type="radio" th:name="|questions[${i.index}].chose|" th:value="2" />
                                    <p th:text="${question.optionB}"></p>
                                </div>
                                <div class="uk-flex uk-flex-row">
                                    <input type="radio" th:name="|questions[${i.index}].chose|" th:value="3" />
                                    <p th:text="${question.optionC}"></p>
                                </div>
                                <div class="uk-flex uk-flex-row">
                                    <input type="radio" th:name="|questions[${i.index}].chose|" th:value="4" />
                                    <p th:text="${question.optionD}"></p>
                                </div>
                                </td>
                                <input type="hidden" th:name="|questions[${i.index}].questionId|" th:value="${question.questionId}" />
                                <input type="hidden" th:name="|questions[${i.index}].questionText|" th:value="${question.questionText}" />
                                <input type="hidden" th:name="|questions[${i.index}].answer|" th:value="${question.answer}" />
                            </tr>
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-danger">Sprawdź wynik</button>
                </form>
    </div>
</div>

</body>
</html>