<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{layout :: template (~{:: .uk-section})}">
<head>
</head>
<body>
<div class="uk-section">
    <div class="uk-container uk-container-small">
        <table class="uk-table uk-table-striped">
            <th><b><center>Twój Wynik:</center></b></th>
            <th> </th>
                <tr>
                    <th>Imię</th>
                    <th>Punkty</th>
                </tr>
                <tr>
                    <td th:text="${score.username}"></td>
                    <td th:text="${score.overallScore}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>